palette = "grey"

[palettes.grey]
grey = "#777777"
none = "#777777"
white = "#cccccc"
rosewater = "#777777"
flamingo = "#777777"
pink = "#777777"
mauve = "#777777"
maroon = "#777777"
peach = "#777777"
sky = "#777777"
sapphire = "#777777"
blue = "#708090"
lavender = "#777777"
text = "#777777"
subtext1 = "#777777"
subtext0 = "#777777"
overlay2 = "#777777"
overlay1 = "#777777"
overlay0 = "#777777"
surface2 = "#777777"
surface1 = "#777777"
surface0 = "#777777"
base = "#777777"
mantle = "#777777"
crust = "#777777"
background = "#777777"
current_line = "#777777"
foreground = "#777777"
comment = "#777777"
cyan = "#777777"
green = "#1bfd9c"
orange = "#777777"
purple = "#777777"
red = "#fd1b7c"
yellow = "#777777"

format = "$username$hostname$directory$git_branch$git_status$kubernetes$nix_shell$cmd_duration$line_break$character"

[username]
style_user = "bold blue"
format = "[$user[|](grey)]($style)"
show_always = true

[hostname]
ssh_only = false
format = "[$hostname]($style) "
style = "bold blue"

[directory]
read_only = " 󰌾"

[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[kubernetes]
symbol = "☸ "
format = "[$symbol$context]($style) "
disabled = false

[git_branch]
format = "[$branch]($style)"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
conflicted = ""
untracked = ""
modified = ""
staged = ""
renamed = ""
deleted = ""
stashed = "≡"

[cmd_duration]
format = "[$duration]($style) "


[aws]
symbol = "  "
#
# [buf]
# symbol = " "
#
# [bun]
# symbol = " "
#
[c]
symbol = " "
#
[cpp]
symbol = " "
#
# [cmake]
# symbol = " "
#
# [conda]
# symbol = " "
#
[container]
disabled = true
#
# [crystal]
# symbol = " "
#
# [dart]
# symbol = " "
#
# [deno]
# symbol = " "
#
# [directory]
# read_only = " 󰌾"
# style = "yellow"
#
[docker_context]
symbol = " "
#
# [elixir]
# symbol = " "
#
# [elm]
# symbol = " "
#
# [fennel]
# symbol = " "
#
# [fossil_branch]
# symbol = " "
#
[gcloud]
symbol = "  "
#
# [git_branch]
# symbol = " "
# format = "[$symbol$branch(:$remote_branch)]($style) "
#
# [git_commit]
# tag_symbol = '  '
#
[golang]
symbol = " "
#
# [guix_shell]
# symbol = " "
#
# [haskell]
# symbol = " "
#
# [haxe]
# symbol = " "
#
# [hg_branch]
# symbol = " "
#
# [username]
# show_always = true
# style_root = "red"
# style_user = "grey2"
# format = "[$user ]($style)"
#
# [hostname]
# ssh_only = false
# ssh_symbol = " "
# style = "aqua"
# format = "[$ssh_symbol$hostname]($style) "
#
[java]
symbol = " "
#
# [julia]
# symbol = " "
#
# [kotlin]
# symbol = " "
#
[lua]
symbol = "  "
#
# [memory_usage]
# symbol = "󰍛 "
#
# [meson]
# symbol = "󰔷 "
#
# [nim]
# symbol = "󰆥 "
#
[nix_shell]
symbol = " "
#
[nodejs]
symbol = " "
#
# [ocaml]
# symbol = " "
#
 [os.symbols]
 Alpaquita = " "
 Alpine = " "
 AlmaLinux = " "
 Amazon = " "
 Android = " "
 Arch = " "
 Artix = " "
 CachyOS = " "
 CentOS = " "
 Debian = " "
 DragonFly = " "
 Emscripten = " "
 EndeavourOS = " "
 Fedora = " "
 FreeBSD = " "
 Garuda = "󰛓 "
 Gentoo = " "
 HardenedBSD = "󰞌 "
 Illumos = "󰈸 "
 Kali = " "
 Linux = " "
 Mabox = " "
 Macos = " "
 Manjaro = " "
 Mariner = " "
 MidnightBSD = " "
 Mint = " "
 NetBSD = " "
 NixOS = " "
 Nobara = " "
 OpenBSD = "󰈺 "
 openSUSE = " "
 OracleLinux = "󰌷 "
 Pop = " "
 Raspbian = " "
 Redhat = " "
 RedHatEnterprise = " "
 RockyLinux = " "
 Redox = "󰀘 "
 Solus = "󰠳 "
 SUSE = " "
 Ubuntu = " "
 Unknown = " "
 Void = " "
 Windows = "󰍲 "
#
[package]
symbol = "󰏗 "
#
[perl]
symbol = " "
#
[php]
symbol = " "
#
# [pijul_channel]
# symbol = " "
#
# [pixi]
# symbol = "󰏗 "
#
[python]
symbol = "  "
#
# [rlang]
# symbol = "󰟔 "
#
[ruby]
symbol = " "
#
[rust]
symbol = "󱘗 "
#
# [scala]
# symbol = " "
#
# [swift]
# symbol = " "
#
# [zig]
# symbol = " "
#
# [gradle]
# symbol = " "
#
